.container {
  width: 100% !important;
  text-align: left;
  padding: 10px !important;
  display: flex !important;
  flex-direction: row !important;

  .group {
    display: flex;
    :first-child {
      margin-left: 15px;
    }
  }
  .field {
    margin-left: 15px;
    width: fit-content;
    display: flex;
    align-items: center;
  }

  .input {
    margin-right: 3px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 160px !important;
    flex-direction: column !important;
    .group {
      :first-child {
        margin-left: 0px;
      }
    }
  }
  
}
