.container {
  display: flex;
  flex-direction: column;

  .title {
    text-align: left;
    opacity: 0.8;
  }

  .number {
    text-align: left;
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: bold;
  }

  @media screen and (min-width: 1000px) {
    .number {
      font-size: 2em;
      line-height: 1.5em;
    }
  }
}